/* 改变主题色变量 */
$--color-primary: #F561A4;
$--background-color-base: #CDCDCD;
$--color-white: #555555;
$--color-success: #6DCC8E;
$--color-warning: #F9B074;
$--color-danger: #FF7171;
$--color-info: #5ABDD0;
$--color-text-primary: #000000;
$--color-text-secondary: #ffdfec;
$--color-text-regular: #f0f0f0;
$--color-text-placeholder: #8E888F;
$--color-black: #393939;

$--border-color-base: #5C5C5C;
$--border-color-light: #878A8F;
$--border-color-lighter: #A2A7B4;
$--border-color-extra-light: #EAEAEA;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/* 覆盖按钮文字颜色设置 */
$--button-default-font-color: #FFFFFF;
$--button-primary-font-color: #FFFFFF;
$--button-success-font-color: #FFFFFF;
$--button-warning-font-color: #FFFFFF;
$--button-danger-font-color: #FFFFFF;
$--button-info-font-color: #FFFFFF;

/* 覆盖MessageBox文字颜色设置 */
$--messagebox-title-color: #FFFFFF;
$--messagebox-content-color: #FFFFFF;

/* 工具提示颜色设置 */
$--tooltip-color: #FFFFFF;

/* 覆盖表格颜色设置 */
$--table-font-color: #FFFFFF;
$--table-header-font-color: #FFFFFF;
$--table-row-hover-background-color: #3d3d3d;
$--table-header-background-color: #555555;

@import "~element-ui/packages/theme-chalk/src/index";

/* 重新定义对话框样式 */
.el-dialog{
    background-color: #252525;
    .el-dialog__title{
        color: #FFFFFF;
    }
}
.el-table tr{
    background-color: #252525;
}